[submodule "home/Documents/Obsidian/Brain/.obsidian/themes/obsidian-minimal"]
	path = home/Documents/Obsidian/Brain/.obsidian/themes/obsidian-minimal
	url = git@github.com:jrolfs/obsidian-minimal.git
