root = true

[*]

# Indent
indent_style = space
indent_size = 2

# EOL & Line Breaks
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Don't trim trailing whitespace form Markdown
[*.md]
trim_trailing_whitespace = false
