[submodule "home/.nix-defexpr/darwin"]
	path = home/.nix-defexpr/darwin
	url = https://github.com/LnL7/nix-darwin
[submodule "home/.nix-defexpr/nixpkgs"]
	path = home/.nix-defexpr/nixpkgs
	url = git@github.com:NixOS/nixpkgs.git
